.header-container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px;
  flex-wrap: wrap;
  align-items: center;
}

.header-menu-item {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-wrap: wrap;
}
.header-menu-item a {
  font: 500 1rem "Montserrat", Arial, sans-serif;
  color: #bdebea;
  border-radius: 5px;
}

.header-menu-item a:hover {
  color: #00f5a0;
}

@media (max-width: 900px) {
  #button-header {
    background: none;
    color: #bdebea;
    border: 1px solid #00d9f5;
  }
}

@media (max-width: 600px) {
  header {
    margin-bottom: 50px;
  }
}
