.button {
  background: linear-gradient(90deg, #00f5a0 0%, #00d9f5 100%);
  padding: 12px 20px 12px 20px;
  display: inline-block;
  border-radius: 6px;
  border: none;
  color: #252728 !important;
  font: 500 1rem/1.5 "Montserrat", Arial, sans-serif;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(90deg, #02d68c 0%, #05c2da 100%);
}
